{% extends "base.html" %}
{% block content %}
<div class="content">
    <div class="media">
        <img class="account-img" src="{{ image }}" alt="">
        <div class="media-body">
            <h2>{{ current_user.username }}</h2>
            <p>{{ current_user.email }}</p>
        </div>
    </div>
    <div class="form">

        {% from "_render_field.html" import render_field %}

        <form method="POST" action="{{ url_for('account') }}" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <div class="row">
                    <div class="form-group col-md-3">
                        {{ render_field(form.username, class="form-control") }}
                    </div>
                    <div class="form-group col-md-3">
                        {{ render_field(form.email, class="form-control") }}
                    </div>
                    <div class="form-group col-md-3">
                        {{ render_field(form.about, class="form-control") }}
                    </div>
                    <div class="form-group col-md-3">
                        {{ render_field(form.last_seen, class="form-control") }}
                    </div>
                    <div class="form-group col-md-3">
                        {{ render_field(form.picture, class="form-control") }}
                    </div>
                    <div class="form-group col-md-3">
                        {{ render_field(form.new_password, class="form-control") }}
                    </div>
                    <div class="form-group col-md-3">
                        {{ render_field(form.old_password, class="form-control") }}
                    </div>
                </div>
            {{ render_field(form.submit, class="form-control") }}
        </form>
    </div>
</div>
{% endblock %}