<!doctype html>
<html>
<head>
    {% block head %}
    {% block title %} <title>{{title}} </title>{% endblock %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/app.css') }}">
    {% endblock %}
</head>


<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <div class="page-header">
                <h1>About PNU</h1>
                <h2>Essential information for education</h2>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-dark bg-dark" style="background-color: #66ccff;">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="{{url_for('index')}}"> Home</a></li>
            <li><a href="{{url_for('posts')}}"> Posts</a></li>

            {% if current_user.is_authenticated %}
            <li><a href="{{url_for('account')}}"> Account</a></li>
            <li><a href="{{url_for('new_post')}}"> Create new post</a></li>
            <li><a href="{{url_for('logout')}}"> Logout</a></li>
            {% else %}
            <li><a href="{{url_for('login')}}"> Login</a></li>
            <li><a href="{{url_for('register')}}"> Register</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="col-md-8">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
<div class="container-fluid">
    {% block content %}


    {% endblock %}
</div>

</body>
</html>
