{% extends "base.html" %}
{% block content %}
<div class="content-section">

    <h1>Create/Update post</h1>
    {% from "_render_field.html" import render_field %}

    <form method="POST">
        <dl>
            {{ form.csrf_token }}
            <div class="row">
                <div class="form-group col-md-3">
                    {{ render_field(form.title, class="form-control") }}
                </div>
                <div class="form-group col-md-3">
                    {{ render_field(form.content, class="form-control") }}
                </div>
            </div>

        </dl>
        {{ render_field(form.submit, class="form-control") }}

    </form>

</div>
{% endblock %}