{% extends "base.html" %}
{% block content %}
<h1>Register</h1>


{% for cat, msg in get_flashed_messages(True) %}
<ul class="list-group">
    <li class="list-group-item list-group-item-{{cat}}">{{msg}}</li>
</ul>
{%endfor %}



{% from "_render_field.html" import render_field %}

<form method="POST" action="{{ url_for('register') }}">
  <dl>
    {{ register.csrf_token }}
    <div class="row">
      <div class="form-group col-md-3">
        {{ render_field(register.username, class="form-control") }}
      </div>
      <div class="form-group col-md-3">
        {{ render_field(register.password, class="form-control") }}
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-5">
        {{ render_field(register.confirm_password, class="form-control") }}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-5">
        {{ render_field(register.email, class="form-control") }}
      </div>
    </div>

  </dl>
          {{ render_field(register.submit, class="form-control") }}

</form>

{% endblock %}